.kartya {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 5px grey solid;
  border-radius: 16px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 640px) {
  .kartya {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 5px grey solid;
    border-radius: 14px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 640px) {
  .buttonXBig {
    display: none;
  }
}

@media screen and (min-width: 640px) {
  .buttonXSmall {
    display: none;
    margin: 10px;
  }
}
