.reszek {
  border: 5px solid white;
  border-radius: 10px;
  margin: 20px;
  background-color: oklch(var(--b2));
}

.reszekKoszonto {
  border: 5px solid white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: oklch(var(--b2));
}

/* Flip card eleje */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 532px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border-radius: 50px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.clicked .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-front {
  background-image: url("/TelefonHatter.jpg");
  background-size: cover;
  border-radius: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: none;
}

.flip-card.clicked .flip-card-back {
  display: block;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Flip card vége */

/*Kártyák (Ajánlatok) */
.kartya {
  transition: transform 0.3s ease;
  border-radius: 30px;
}

.kartya:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: yellow;
  border-radius: 30px;
}

.ajanlatKerekit {
  border-radius: 30px;
}

.fooldal {
  background: url("/Hatter.jpg");
}

@media screen and (max-width: 420px) {
  .youtube {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.youtube {
  height: 100%;
  width: 100%;
}

@media (min-width: 420px) and (max-width: 770px) {
  .youtube {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
  }
}
