/* .f {
    width: 150px;
}

@media screen and (min-width: 1024px) {
    .f {
      width: 200px;
    }
  }

  @media screen and (min-width: 1324px) {
    .f {
      width: 300px;
    }
  }
*/

.h {
    max-height: 60vh;
    max-width: 60vw;;
  }

.img {
  max-width: 30vw;
  max-height: 30vh;
}