.szurodoboz {
  border: 4px dashed black;
  width: 50%;
  max-width: 96rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 70px;
}

@media screen and (max-width: 420px) {
  .szurodoboz {
    border: 4px dashed black;
    width: 85%;
    max-width: 96rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 70px;
  }
}

.ardoboz {
  margin-bottom: 8;
  width: 90px;
  border: 2px solid grey;
  border-radius: 4px;
}

.kartya {
  width: 95%;
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 5px white solid;
  border-radius: 16px;
}

/* styles/likeButton.module.css */

.likeButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.liked {
  color: red; /* Change the color when liked */
}

/*likebutton vége*/
